:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --main-font-card-weight: 400;
  --main-font-title-weight: 700;
  --bg-color: #ffffff;
  --main-color-theme: #ffffff;
  --main-color: #000000;
  --bg-image: repeating-linear-gradient(
      -90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  inline-size: 25%;
  block-size: 50%;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --sparks: red;
  --main-width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}
@media (width<375px) {
  :root {
    --main-width: clamp(19.75rem, -0.25rem + 100vw, 23.125rem);
  }
  .page {
    width: var(--main-width);
  }
}
