:root {
  --main-font: "Inter";
  --accent-font: "Press Start 2P";
  --main-font-card-weight: 400;
  --main-font-title-weight: 700;
  --bg-color: #ffffff;
  --main-color-theme: #ffffff;
  --main-color: #000000;
  --bg-image: repeating-linear-gradient(
      -90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --sparks: #ff0000;
  --main-width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}
@media (width=375px) {
  .button-save .floppy {
    width: 28px;
    height: 28px;
  }
}
@media (width<375px) {
  :root {
    --main-width: clamp(18.125rem, 7.014rem + 55.556vw, 20rem);
  }
  .main,
  .rectangle,
  .button-save {
    width: clamp(18.125rem, 7.014rem + 55.556vw, 20rem);
  }

  .logo-group .header__logo {
    font-size: clamp(2.1875rem, -2.9034rem + 25.4545vw, 3.0625rem);
  }
  .page .button-save {
    width: clamp(18.125rem, 7.014rem + 55.556vw, 20rem);
  }
  dialog {
    width: 290px;
  }
  dialog .dialog__content {
    padding: 30px 10px;

    width: clamp(18.125rem, 7.014rem + 55.556vw, 20rem);
  }
}
